* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing:border-box;
}

html {
  font-size:62.5%;
}

/*COLORS
 color-primary:#ce367c;
 color-primary-light:#f0c2d8;
 color-black:#000;
 color-white:#fff;
 color-lightgrey:#DCDCDC;
 color-lightgrey-2:#f2f2f2;
 color-darkgrey:#808080;
 color-darkgrey-2:#191919;
 color-yellow:#f2cf0d;
*/

:root{
  --color-primary:#ce367c;
  --color-primary-light:#f0c2d8;
  --color-black:#000;
  --color-white:#fff;
  --color-lightgrey:#DCDCDC;
  --color-lightgrey-2:#f2f2f2;
  --color-darkgrey:#808080;
  --color-darkgrey-2:#191919;
  --color-yellow:#f2cf0d;
}


//SASS VARIABLES
$color-primary:#ce367c;

//RESPONSIVENESS VARIABLES
$breakpoint-478: 29.9em;
$breakpoint-500: 31.25em; //1em=16px 500px/16 = 31.25em
$breakpoint-600: 37.5em;
$breakpoint-780: 48.75em;
$breakpoint-902: 56.375em;
$breakpoint-1000: 62.5em;

body{
  font-family: 'Work Sans',sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 4rem;
  color: #777;
  background: var(--color-black);
}
