* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/*COLORS
 color-primary:#ce367c;
 color-primary-light:#f0c2d8;
 color-black:#000;
 color-white:#fff;
 color-lightgrey:#DCDCDC;
 color-lightgrey-2:#f2f2f2;
 color-darkgrey:#808080;
 color-darkgrey-2:#191919;
 color-yellow:#f2cf0d;
*/
:root {
  --color-primary:#ce367c;
  --color-primary-light:#f0c2d8;
  --color-black:#000;
  --color-white:#fff;
  --color-lightgrey:#DCDCDC;
  --color-lightgrey-2:#f2f2f2;
  --color-darkgrey:#808080;
  --color-darkgrey-2:#191919;
  --color-yellow:#f2cf0d; }

body {
  font-family: 'Work Sans',sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 4rem;
  color: #777;
  background: var(--color-black); }

.header {
  width: 100%;
  height: 90vh;
  background-color: var(--color-black);
  background-image: url(header-img-2.jpg);
  background-size: 64rem;
  background-position: 90% 48%;
  background-repeat: no-repeat;
  position: relative; }
  @media only screen and (max-width: 31.25em) {
    .header {
      height: 50vh;
      background-size: cover; } }
  .header__bar {
    display: flex;
    justify-content: space-between;
    margin-top: -15rem; }
  .header__logo {
    width: auto;
    height: 15rem; }
  .header__main-nav {
    list-style: none;
    display: flex;
    margin: 5rem 2rem 0 0;
    flex: 0 0 1; }
    .header__main-nav li {
      margin-left: 4rem; }
      .header__main-nav li a:link,
      .header__main-nav li a:visited {
        color: var(--color-white);
        text-decoration: none;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 400;
        display: block;
        padding-bottom: 0.8rem;
        border-bottom: 2px solid transparent;
        transition: border-bottom .4s; }
      .header__main-nav li a:hover,
      .header__main-nav li a:active {
        border-bottom: 2px solid var(--color-primary); }
  .header__box {
    position: absolute;
    top: 15rem;
    left: 5rem;
    text-align: left;
    width: 60%;
    line-height: 3.5rem;
    margin-top: 5rem; }
  .header__text-box h1 {
    font-size: 6rem;
    color: var(--color-primary);
    font-weight: 500;
    letter-spacing: normal; }
  .header__text-box h2 {
    font-size: 5rem;
    color: var(--color-white);
    width: 50%;
    font-weight: 500;
    margin-top: 4rem;
    margin-bottom: 3rem; }

.section-header h2 {
  color: var(--color-primary);
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 1.4rem; }

.section-header h1 {
  color: var(--color-darkgrey);
  font-size: 4.8rem;
  text-transform: capitalize;
  margin-bottom: 2.8rem; }

.section-services, .section-team, .section-portfolio, .section-contact {
  background-color: var(--color-white);
  text-align: center;
  padding-bottom: 8rem; }

.section-team, .section-testimonials {
  background-color: var(--color-black);
  text-align: center; }

.section-cta {
  background-color: var(--color-darkgrey-2);
  padding: 3rem; }

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3rem 1rem;
  align-items: baseline; }
  @media only screen and (max-width: 56.375em) {
    .footer {
      justify-content: center;
      align-items: center; } }
  .footer__copyright {
    text-align: center; }
  @media only screen and (max-width: 56.375em) {
    .footer__nav {
      margin-top: 1rem; } }
  .footer__nav ul {
    list-style: none;
    display: flex; }
    .footer__nav ul li {
      margin-left: 1rem; }
      .footer__nav ul li a {
        text-decoration: none;
        color: var(--color-white);
        padding-bottom: 0.8rem; }
        .footer__nav ul li a:link, .footer__nav ul li a:visited {
          border-bottom: 2px solid transparent;
          transition: border-bottom 0.2s; }
        .footer__nav ul li a:hover, .footer__nav ul li a:active {
          border-bottom: 2px solid var(--color-primary); }
  .footer__author {
    text-decoration: none;
    color: var(--color-white); }

.btn:link, .btn:visited {
  width: 21.5rem;
  display: block;
  text-transform: uppercase;
  background-color: var(--color-white);
  color: var(--color-primary);
  text-decoration: none;
  padding: 1rem;
  font-weight: 500;
  background-size: 250%;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-primary) 50%);
  transition: all .4s;
  text-align: center;
  height: 5.5rem; }

.btn:hover, .btn:active {
  background-position: 100%;
  color: var(--color-white);
  transform: translateX(1rem); }

.services {
  display: flex;
  margin: 0 6rem;
  flex-wrap: wrap; }

.service-box {
  background-color: var(--color-lightgrey);
  width: 20rem;
  margin: 1.5rem;
  flex: 1 1 30%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden; }
  @media only screen and (max-width: 37.5em) {
    .service-box {
      flex: 1 1 100%;
      background-color: var(--color-primary);
      padding: 3rem; } }
  .service-box__title {
    color: var(--color-black);
    font-size: 2.3rem;
    padding: 3rem 6rem 3rem 0;
    font-weight: 500;
    transform: translate(-1.6rem);
    transition: all .5s; }
    @media only screen and (max-width: 37.5em) {
      .service-box__title {
        font-size: 2rem;
        transform: translate(0);
        color: var(--color-white);
        margin: 0 auto;
        padding: 0; } }
  .service-box__icon {
    height: 11rem;
    width: 4.8rem;
    fill: var(--color-primary-light);
    opacity: 0;
    transition: all .5s;
    transform: scale(0.5); }
    @media only screen and (max-width: 37.5em) {
      .service-box__icon {
        display: none; } }
  .service-box:hover {
    background-color: var(--color-primary); }
  .service-box:hover .service-box__title {
    color: var(--color-white);
    transform: translate(3rem); }
    @media only screen and (max-width: 37.5em) {
      .service-box:hover .service-box__title {
        transform: translate(0); } }
  .service-box:hover .service-box__icon {
    opacity: .6;
    transform: scale(1.4); }

.team-mates {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.team-mate {
  border-radius: 50%;
  border: 3px solid var(--color-primary);
  width: 24rem;
  height: 24rem;
  background-size: cover;
  background-position: center;
  position: relative; }
  @media only screen and (max-width: 29.9em) {
    .team-mate {
      margin-top: 1rem; } }
  .team-mate--1 {
    background-image: url(Dikshant-image.jpeg); }
  .team-mate--2 {
    background-image: url(../img/dbs2.jpg); }
  .team-mate--3 {
    background-image: url(../img/hacker.jpg); }
  .team-mate__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 23.7rem;
    height: 23.7rem;
    border-radius: 50%;
    background-color: rgba(206, 54, 124, 0.7);
    opacity: 0;
    transition: all .2s; }
  .team-mate:hover .team-mate__overlay {
    opacity: 1; }
  .team-mate__content {
    color: var(--color-white);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .5s .2s; }
  .team-mate:hover .team-mate__content {
    opacity: 1;
    top: 50%; }
  .team-mate__name {
    font-size: 2.7rem;
    font-weight: 500; }
  .team-mate__designation {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: center; }

.social-media {
  display: flex;
  margin-top: 2rem;
  justify-content: center; }

.facebook__icon, .twitter__icon, .linkedin__icon {
  height: 3rem;
  width: 3rem;
  fill: var(--color-white);
  margin: 2px; }
  .facebook__icon:hover, .twitter__icon:hover, .linkedin__icon:hover {
    fill: var(--color-primary-light); }

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .portfolio__column {
    flex-basis: 30%;
    margin: 0.5rem; }
    @media only screen and (max-width: 37.5em) {
      .portfolio__column {
        flex-basis: 80%; } }
  .portfolio__image {
    width: 100%;
    margin-top: 0.1rem;
    overflow: hidden; }
    .portfolio__image img {
      width: 100%;
      height: auto;
      filter: saturate(0%) brightness(100%) contrast(100%);
      transition: all .4s; }
      @media only screen and (max-width: 37.5em) {
        .portfolio__image img {
          filter: none; } }
      .portfolio__image img:hover {
        filter: none;
        transform: scale(1.25); }
        @media only screen and (max-width: 37.5em) {
          .portfolio__image img:hover {
            transform: scale(1); } }

.container {
  width: 30%;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 62.5em) {
    .container {
      width: 40%; } }
  @media only screen and (max-width: 48.75em) {
    .container {
      width: 50%; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      width: 70%; } }

.testimonial-card {
  height: 40rem;
  width: 100%;
  background-color: var(--color-darkgrey-2);
  text-align: left;
  padding: 4rem;
  margin: 3rem 0;
  border: 3px solid var(--color-darkgrey-2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  @media only screen and (max-width: 62.5em) {
    .testimonial-card {
      padding: 1.5rem; } }
  .testimonial-card:hover {
    border: 3px solid var(--color-primary); }
  .testimonial-card__icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--color-yellow); }
  .testimonial-card__para {
    font-size: 1.9rem;
    color: var(--color-lightgrey); }
  .testimonial-card__client {
    display: inline-block; }
    .testimonial-card__client .image-shape {
      height: 8rem;
      width: 8rem;
      border-radius: 50%;
      overflow: hidden;
      margin-top: 4rem; }
      .testimonial-card__client .image-shape img {
        height: 100%; }
  .testimonial-card .client-info {
    font-size: 1.8rem;
    display: block;
    text-align: center;
    line-height: 2.5rem;
    position: absolute;
    margin-top: 25rem;
    margin-left: 12rem; }
    .testimonial-card .client-info__name {
      color: var(--color-white);
      font-weight: 800; }
    .testimonial-card .client-info__designation {
      color: var(--color-primary);
      font-weight: 500; }

.carousel {
  display: flex;
  flex-direction: column; }
  .carousel__slider {
    display: flex;
    width: 300%;
    transition: all .4s; }
  .carousel__radio-btn {
    display: none; }
  .carousel__nav {
    display: flex;
    order: 1;
    justify-content: center; }
  .carousel__radio-label {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 2px solid var(--color-primary);
    background-color: var(--color-white);
    margin: 1.6rem;
    cursor: pointer; }
  .carousel__radio-btn:checked:nth-of-type(1) ~ .carousel__nav .carousel__radio-label:nth-of-type(1) {
    background-color: var(--color-primary); }
  .carousel__radio-btn:checked:nth-of-type(2) ~ .carousel__nav .carousel__radio-label:nth-of-type(2) {
    background-color: var(--color-primary); }
  .carousel__radio-btn:checked:nth-of-type(3) ~ .carousel__nav .carousel__radio-label:nth-of-type(3) {
    background-color: var(--color-primary); }
  .carousel__radio-btn:checked:nth-of-type(2) ~ .carousel__slider {
    transform: translate(-33.33%); }
  .carousel__radio-btn:checked:nth-of-type(3) ~ .carousel__slider {
    transform: translate(-66.66%); }

.contact {
  display: flex;
  flex-wrap: wrap; }
  .contact__column {
    background-color: var(--color-lightgrey-2);
    border-radius: 5px;
    margin: 0.8rem 1.2rem;
    font-size: 1.6rem;
    color: var(--color-black);
    padding: 1.6rem 3rem;
    text-align: left; }
    .contact__column--left {
      flex: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .contact__column--left > p {
        margin-top: 2rem; }
    .contact__column--right {
      flex: 65%; }
  .contact__info {
    display: flex;
    margin-top: 2rem;
    align-items: center; }
  .contact__icon-div {
    margin-right: 1.6rem; }
  .contact__icon {
    height: 2.4rem;
    width: 2.4rem;
    fill: var(--color-primary); }
  .contact__detail-div {
    text-align: left; }
  .contact__para {
    font-size: 1.6rem;
    line-height: 2.7rem; }
    .contact__para--1 {
      font-weight: 800; }

.form {
  margin-top: 2rem; }
  .form__name-email {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .form__name-email input {
      border: 2px solid var(--color-primary);
      flex-basis: 48%; }
      @media only screen and (max-width: 37.5em) {
        .form__name-email input {
          flex-basis: 100%; } }
  .form__input, .form__textarea {
    font-size: 1.9rem;
    font-family: inherit;
    padding: .5rem;
    border-radius: 10px;
    width: 100%;
    margin-top: 1.6rem;
    border: 1px solid var(--color-lightgrey); }
    .form__input::placeholder, .form__textarea::placeholder {
      font-size: 1.6rem; }
    .form__input:focus, .form__textarea:focus {
      outline: none; }
  .form__textarea {
    height: 20rem; }
  .form__btn {
    margin-top: 2rem; }
    .form__btn .btn:link, .form__btn .btn:visited {
      background-color: var(--color-primary);
      color: var(--color-white);
      border-radius: 10px;
      text-align: center;
      background-size: 250%;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-white) 50%);
      transition: all .4s;
      border: 1px solid var(--color-primary); }
    .form__btn .btn:hover, .form__btn .btn:active {
      color: var(--color-primary); }

.cta-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.social-icons {
  display: flex;
  margin-right: 0.8rem; }
  .social-icons__facebook, .social-icons__twitter, .social-icons__instagram {
    display: block;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    border: 2px solid var(--color-primary);
    fill: var(--color-white);
    padding: 1.2rem;
    margin: 0.8rem;
    transform: translateY(0);
    transition: all .4s; }
    .social-icons__facebook:hover, .social-icons__twitter:hover, .social-icons__instagram:hover {
      fill: var(--color-primary);
      transform: translateY(-0.7rem); }

.cta {
  margin-right: 0.8rem; }
  .cta h2 {
    color: var(--color-white);
    font-size: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .cta h2 {
        margin-top: 2rem; } }

@media only screen and (max-width: 37.5em) {
  .cta-btn {
    margin-top: 2rem; } }
